commands {
	fastqc {
		executor="slurm"
		queue="serial_requeue"
		procs="1"
		jobtype="single"
		memory="2"
		walltime="1:00:00"
	}
	trim_galore {
		executor="slurm"
		queue="serial_requeue"
		procs="1"
		jobtype="single"
		memory="1"
		walltime="1:00:00"
	}
	bismark {
		executor="slurm"
		queue="serial_requeue"
		procs="5"
		jobtype="single"
		memory="14"
		walltime="12:00:00"
	}
	makebam {
		executor="slurm"
		queue="serial_requeue"
		procs="1"
		jobtype="single"
		memory="4"
		walltime="06:00:00"
	}
	addreadgroups {
		executor="slurm"
		queue="serial_requeue"
		procs="1"
		jobtype="single"
		memory="4"
		walltime="06:00:00"
	}
	reordercontigs {
		executor="slurm"
		queue="serial_requeue"
		procs="1"
		jobtype="single"
		memory="4"
		walltime="06:00:00"
	}
	dedupe {
		executor="slurm"
		queue="serial_requeue"
		procs="1"
		jobtype="single"
		memory="4"
		walltime="06:00:00"
	}
	indexbam {
		executor="slurm"
		queue="serial_requeue"
		procs="1"
		jobtype="single"
		memory="2"
		walltime="01:00:00"
	}
	countcovars {
		executor="slurm"
		queue="serial_requeue"
		procs="8"
		jobtype="single"
		memory="16"
		walltime="24:00:00"
	}
	writerecal {
		executor="slurm"
		queue="serial_requeue"
		procs="1"
		jobtype="single"
		memory="16"
		walltime="24:00:00"
	}
	callmeth {
		executor="slurm"
		queue="serial_requeue"
		procs="8"
		jobtype="single"
		memory="16"	
	}

}
